{%- if recommendations.performed? -%}
    {%- for item in recommendations.products -%}
        <div class="swiper-slide">
            {%- render 'product-item': product: item -%}
        </div>
    {%- endfor -%}
{%- endif -%}